{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>My blog</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" media="all" />

        <link rel="shortcut icon" href="css/images/favicon.ico" />

    </head>
    <body>
        <div class="shell">
          <div class="border">

            <div id="navigation">
                <ul>
                  <li><a href="/" class="active">Main</a></li>
                  <li><a href="/admin" class="active">Admin panel</a></li>
                </ul>
            </div>

            <div id="main">
              <div id="content" class="left">
                <div class="projects">
                  <h3>{{ post.title }}</h3>
                    <p align="center">
                        <img src=" post.img.url" width="50%" />
                    </p>
                      <div class="item">
                          <div class="text left">
                              <p>{{ post.description }}</p>
                              <p>Author: {{ post.author }}</p>
                          </div>
                          <div class="cl"></div>
                      </div>
                    </div>
                </div>
                <div>
                    <br>
                    <p>Likes: {{ post.likes_set.all.count }}</p>
                    <br>
                    <a href="% url 'add_likes' post.id">Like</a>
                    <a href="% url 'del_likes' post.id">DisLike</a>
                </div>
                <div class="form-comment">
                    <h3>Add comment</h3>
                    <div>
                        <form action="{% url 'add_comments' post.id %}" method="post">
                            {% csrf_token %}
                            <div>
                                <label> Your comment </label>
                                <textarea name="text_comments"></textarea>
                            </div>
                            <div>
                                <label> Your name * </label>
                                <input type="text" name="name">
                            </div>
                            <div>
                                <label> Your email * </label>
                                <input type="email" name="email">
                            </div>
                            <div>
                                <input type="submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    {% for comment in post.comments_set.all %}
                    <div class="view-comment">
                        <h4>{{ comment.name }}</h4>
                        <p>
                            {{ comment.text_comments }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <div class="cl"></div>
            </div>
            <div id="footer">
                <p class="copy right">Copyright @2024</p>
            </div>
          </div>
        </div>
    </body>
</html>